@using OnlineFoodOrder_Website.Models
@model User

@{
    ViewBag.Title = "ProfileUser";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<div class="set-bg" data-setbg="">
    <div class="row mx-0">
        <div class="col-sm-8" style="width: 90%; margin: auto; border: 1px solid black; margin-top: 50px; margin-bottom: 50px; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); border-radius: 5px;">
            <div class="no-title" style="height: 20px;"></div>
            <!--Profile form-->
            <div class="form-horizontal" action="#">
                <div class="panel-body">
                    <h2 class="mgbt-xs-20" style="color: black; text-align: center; font-family: 'Dancing Script' , cursive;"> Profile User: <span class="font-semibold">@Model.FullName</span> </h2>
                    <br>
                    <div class="row">
                        <!--Profile left Begin-->
                        <div class="col-sm-3 mgbt-xs-20">
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-img text-center mgbt-xs-15">
                                        @if (Model.ImageUrl != null)
                                        {
                                            <img alt="example image"
                                                 src="@Url.Content("~/Image/" + Model.ImageUrl)"
                                                 style="width: 100%; overflow: hidden; border-radius: 10px; height: 400px;">
                                        }
                                        else
                                        {
                                            <img alt="example image"
                                                 src="@Url.Content("~/Image/Avatar_Null.png")"
                                                 style="width: 100%; overflow: hidden; border-radius: 10px; height: 400px;">
                                        }

                                    </div>
                                    @using (Html.BeginForm("UploadAvatar", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        @Html.HiddenFor(x => x.UserID)
                                        <div class="form-img-action text-center mgbt-xs-20" style="margin-top: 10px;">
                                            @Html.TextBox("file", "", new { type = "file", @style = "width: 100%;", @class = "vd_bg-blue" })
                                            <input type="submit" class="btn btn-info" value="Upload" style="margin-top: 10px;" />
                                            @ViewBag.Message
                                        </div>
                                    }
                                    <br />
                                    <div>
                                        <table class="table table-striped table-hover">
                                            <tbody>
                                                <tr>
                                                    <td style="width:60%;">Status</td>
                                                    <td><span class="label label-success">Active</span></td>
                                                </tr>
                                                <tr>
                                                    <td style="width:60%;">Join Date</td>
                                                    <td><span class="label label-success">@Model.CreateDate.Value.ToString("dd/MM/yyyy")</span></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div>
                                        <a class="btn btn-info" style="width: 100%; margin-bottom: 10px; color: white" id="btnMemberCard" href="@Url.Action("DisplayPurchasedHistory", "User", new {userID = Model.UserID})">
                                            Purchased History
                                        </a>
                                    </div>

                                    @if (Model.IsAdmin == true)
                                    {
                                        <div>
                                            <a class="btn btn-info" style="width: 100%; margin-bottom: 10px; color: white" id="btnMemberCard" href="@Url.Action("AdminHome", "Admin")">
                                                Admin Management
                                            </a>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!--Profile left End-->

                        <div class="col-sm-9">
                            <!--Account setting Begin-->
                            @using (Html.BeginForm("ProfileUser", "User", FormMethod.Post, new { @class = "form-horizontal" }))
                            {
                                @Html.HiddenFor(model => model.UserID)
                                @Html.HiddenFor(model => model.CreateDate)
                                <div style="margin-bottom: 25px;">
                                    <h3 class="mgbt-xs-15">Profile Setting</h3>
                                    <div class="form-group row" style="margin-top: 15px; height: 40px;">
                                        <div class="col-sm-3" style=" text-align: right; ">
                                            <label style="padding-top: 4px; margin-bottom: 0;font-weight: 500; margin: 5px; color: black;">Full Name</label>
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { style = "width: 100%; height: 35px;", @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-top: 15px; height: 40px;">
                                        <div class="col-sm-3" style=" text-align: right; ">
                                            <label style="padding-top: 4px; margin-bottom: 0;font-weight: 500; margin: 5px; color: black;">Email</label>
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { style = "width: 100%; height: 35px;", @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-top: 15px; height: 40px;">
                                        <div class="col-sm-3" style=" text-align: right; ">
                                            <label style="padding-top: 4px; margin-bottom: 0; font-weight: 500; margin: 5px; color: black;">
                                                Phone
                                                Number
                                            </label>
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { style = "width: 100%; height: 35px;", @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-top: 15px; height: 40px;">
                                        <div class="col-sm-3" style=" text-align: right; ">
                                            <label style="padding-top: 4px; margin-bottom: 0;font-weight: 500; margin: 5px; color: black;">Address</label>
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => model.UserAddress, new { htmlAttributes = new { style = "width: 100%; height: 35px;", @class = "form-control" } })
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-top: 15px; height: 40px;">
                                        <div class="col-sm-3" style=" text-align: right; ">
                                            <label style="padding-top: 4px; margin-bottom: 0;font-weight: 500; margin: 5px; color: black;">Post/Zip Code</label>
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => model.PostCode, new { htmlAttributes = new { style = "width: 100%; height: 35px;", @class = "form-control" } })
                                        </div>
                                    </div>
                                </div>

                                <!--Account setting End-->

                                <hr />
                                <!--Profile settign Begin-->
                                <div style="margin-bottom: 25px;">
                                    <h3 class="mgbt-xs-15">Account Setting</h3>
                                    <div class="form-group row" style="margin-top: 15px; height: 40px;">
                                        <div class="col-sm-3" style=" text-align: right; ">
                                            <label style="padding-top: 4px; margin-bottom: 0; font-weight: 500; margin: 5px; color: black;">Username</label>
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.TextBoxFor(model => model.UserName, new { style = "width: 100%; height: 35px;", @readonly = "readonly" })
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-top: 15px; height: 40px;">
                                        <div class="col-sm-3" style=" text-align: right; ">
                                            <label style="padding-top: 4px; margin-bottom: 0; font-weight: 500; margin: 5px; color: black;">Password</label>
                                        </div>
                                        <div class="col-sm-9">
                                            @Html.EditorFor(model => model.Passwords, new { htmlAttributes = new { style = "width: 100%; height: 35px;", @class = "form-control", @type = "password" } })
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-top: 15px; height: 40px;">
                                        <div class="col-sm-3" style=" text-align: right; ">
                                            <label style="padding-top: 4px; margin-bottom: 0; font-weight: 500; margin: 5px; color: black;">
                                                Confirm Password
                                            </label>
                                        </div>
                                        <div class="col-sm-9">
                                            <input name="txtRepassword" type="password" placeholder="Repassword..." style="width: 100%; height: 35px; color: black;" value="" class="form-control">
                                        </div>
                                    </div>
                                    <div style="margin-top: 15px; width: 100%;">
                                        <p style="color: red; text-align: center;">@ViewBag.Message</p>
                                    </div>
                                    <div class="form-group row" style="margin-top: 15px; height: 40px; ">
                                        <input type="submit" value="Save" style="margin: auto; " class="btn btn-info">
                                    </div>
                                </div>
                                <!--Profile setting End-->
                            }
                        </div>
                    </div>
                </div>
                <!--Profile End-->
            </div>
        </div>
    </div>

</div>

<!------Jquery Load Background Image-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
    $('.set-bg').each(function () {
        var bg = $(this).data('setbg');
        $(this).css('background-image', 'url(' + bg + ')');
        $(this).css('background-repeat', 'no-repeat');
        $(this).css('background-size', 'cover');
    });
</script>
   