@using OnlineFoodOrder_Website.Models
@model Product


@{
    ViewBag.Title = "UploadImage";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<style>
    label, th {
        font-weight: unset;
    }

    th{
        font-weight: bold;
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>

<h2 style="text-align: center; font-weight: bold; margin-top: 20px;">Category Management</h2>

<div style="width: 90%; margin: auto; border: 1px solid black; margin-top: 50px; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); border-radius: 5px;">
    <div class="row" style="justify-content: space-between;">
        <div class="col-sm-3">
            <h4 class="sub-title" style="margin-top: 60px; font-weight: bold; font-size: 20px;">Upload Category Image</h4>
            <hr style="border: 0.5px solid grey;">
            <div>
                @if (Model.ImageUrl != null)
                {
                    <div class="form-img text-center mgbt-xs-15">
                        <img alt="example image"
                             src="@Url.Content("~/Image/" + Model.ImageUrl)"
                             style="width: 90%; overflow: hidden; border-radius: 10px; height: 300px;">
                    </div>
                }
                else
                {
                    <div class="form-img text-center mgbt-xs-15">
                        <img alt="example image"
                             src="@Url.Content("~/Image/ImageNull.jpg")"
                             style="width: 100%; overflow: hidden; border-radius: 10px; height: 400px;">
                    </div>
                }

                @using (Html.BeginForm("UploadImage", "ProductManager", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.HiddenFor(x => x.ProductID)
                    <div class="form-img-action text-center mgbt-xs-20" style="margin-top: 10px;">
                        @Html.TextBox("file", "", new { type = "file", @style = "width: 100%;", @class = "vd_bg-blue" })
                        <input type="submit" class="btn btn-success" value="Upload" style="margin-top: 10px;" />
                    </div>
                }
            </div>
        </div>
        <div class="col-sm-8">
            <h4 class="sub-title" style="margin-top: 60px; text-align: center; font-weight: bold; font-size: 20px;">Category List</h4>
            <hr style="border: 0.5px solid grey;">
            <div class="table-border-style">
                <div class="table-responsive">
                    <table class="table table-hover nowrap">
                        <tr>
                            <th>ProductName</th>
                            <th>Image</th>
                            <th>Price ($)</th>
                            <th>Quantity</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>CreateDate</th>
                            <th>IsActive</th>
                        </tr>
                        <tr>
                            <td>@Model.ProductName</td>
                            @if (Model.ImageUrl == null)
                            {
                                <td style="width: 15%;">
                                    <div style="width: 100%; overflow: hidden;">
                                        <a href="#"><img style="width: 100%; height: 100px;" src="@Url.Content("../Image/ImageNull.jpg")" /></a>
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td style="width: 25%;">
                                    <div style="width: 100%; overflow: hidden;">
                                        <img style="width: 100%; height: 200px;" src="@Url.Content("../Image/" + Model.ImageUrl)" />
                                    </div>
                                </td>
                            }
                            <td>@Model.Price</td>
                            <td>@Model.Quantity</td>
                            <td>@Model.Category.CategoryName</td>
                            <td style="width: 10%;">@Model.Descriptions</td>
                            <td>@Model.CreateDate.Value.ToString("dd/MM/yyyy")</td>
                            @if (Model.IsActive == true)
                            {
                                <td><span style="background-color: #9ab254; padding: 5px 20px; border-radius: 5px;">Is Active</span></td>
                            }
                            else
                            {
                                <td><span style="background-color: #ff7f7d; padding: 5px 20px; border-radius: 5px;">Not Yet</span></td>
                            }
                        </tr>
                    </table>
                    <div>
                        <button type="button" class="btn btn-outline-info" style="float: right; border: none;">@Html.ActionLink("Back to List", "AddProduct")</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

