@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<OnlineFoodOrder_Website.Models.Order>


@{
    ViewBag.Title = "OrderList";
    Layout = "~/Views/AdminLayout/AdminLayout.cshtml";
}

<style>
    label, th {
        font-weight: unset;
    }

    th {
        font-weight: bold;
        text-align: center;
    }

    td {
        text-align: center;
    }
</style>

<h2 style="text-align: center; font-weight: bold; margin-top: 20px;">Order Management</h2>

<div style="width: 90%; margin: auto; border: 1px solid black; margin-top: 50px; box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5); border-radius: 5px;">
    <div class="table-border-style">
        <div class="table-responsive">
            @using (Html.BeginForm("SearchOrder", "OrderManager", FormMethod.Post))
            {
                <p style="text-align: right; margin-top: 10px; margin-right: 10px;">
                    Search by Order Code: @Html.TextBox("SearchString")
                    <input type="submit" value="Search" class="btn btn-primary" style="padding: 5px 15px; margin-bottom: 5px;" />
                </p>
            }
            <table class="table table-hover nowrap" style="margin-top: 15px;">
                <tr>
                    <th>Order Code</th>
                    <th>Payment Mode</th>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Order Date</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                @if (Model == null)
                {

                }
                else
                {
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.OrderNo</td>
                            <td>@item.Payment.PaymentMode</td>
                            <td>@item.Product.ProductName</td>
                            <td>@item.Product.Price</td>
                            <td>@item.Quantity</td>
                            <td>@item.OrderDate.Value.ToString("dd/MM/yyyy")</td>
                            @if (item.Statuss.Contains("Pending"))
                            {
                                <td style="color: #ffbe33; font-weight: bold;">@item.Statuss</td>
                            }
                            else if (item.Statuss.Contains("Dispatcher"))
                            {
                                <td style="color: #0099cc; font-weight: bold;">@item.Statuss</td>
                            }
                            else
                            {
                                <td style="color: #2dde98; font-weight: bold; ">@item.Statuss</td>
                            }
                            <td>
                                <a href="@Url.Action("EditStatusOrder", "OrderManager", new { orderDetailID = item.OrderDetailsID})" style="color: black;"><i class="fa-solid fa-pen-to-square"></i></a>
                            </td>
                        </tr>
                    }
                }
            </table>

            <p class="justify-content-center" style="text-align: center;">Page @(Model.PageCount < Model.PageCount ? 0 : Model.PageNumber) of @Model.PageCount</p>
            <div class="nav justify-content-center">
                @Html.PagedListPager(Model, page => Url.Action("OrderList", new { page = page }))
            </div>
        </div>
    </div>
</div>


